@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f9f9f9;
  overflow-x: hidden;
  margin: 0;
  width: 100%;
  padding-top: 5em;
  font-family: "Kanit", sans-serif;
}
header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
}

.navbar {
  box-sizing: border-box;
  padding: 33px 0px;
  display: flex;
  justify-content: space-between;
  background: black;
  font-family: "Poppins", sans-serif;
  height: 5em;
  align-items: center;
}

.logo {
  align-items: center;
  padding-left: 2.5rem;
  overflow: hidden;
  width: 20rem;
  height: 5rem;
  position: absolute;
}

.logonodisplay {
  font-size: 1.5rem;
  margin: 0.5rem;
}

#menu-icon {
  color: white;
  font-size: 30px;
  z-index: 10000;
  margin-right: 1.5rem;
  cursor: pointer;
  display: none;
}

.navbar ul {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 2rem;
}

.navbar ul a {
  margin: 0 1rem;
  text-decoration: none;
  color: white;
  padding: 6px 15px;
  border-radius: 20px;
  font-weight: 600;
  transition: background 0.2s, color 0.2s, padding 0.2s;
}

.navbar ul a:hover,
.navbar ul a.active {
  background: white;
  color: BLACK;
  padding: 6px 30px;
}

.navbar ul {
  list-style: none;
  letter-spacing: 0.5px;
}

.phonenav {
  background: black;
  margin-top: 0em;
  font-size: 16px;
  height: auto;
  position: absolute;
  width: 20em;
  right: -20em;
  transition: right 0.3s ease;
}

.phonenav ul {
  list-style: none;
  text-align: center;
}

.phonenav a {
  display: table;
  margin: 1em;
  right: 0;
  left: 0;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  font-size: 600;
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.phonenav li {
  position: relative;
  overflow: hidden;
}

.phonenav li::before,
.phonenav li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: white;
  transition: transform 0.3s ease, width 0.3s ease;
}

.phonenav li::before {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.phonenav li::after {
  right: 50%;
  bottom: 0;
  transform: translateX(50%);
}

.phonenav li:hover::before,
.phonenav li:hover::after {
  width: 50%; /* Expand the border to both sides */
  transform: scaleX(1);
}

::-webkit-scrollbar {
  width: 5px;
  background: rgba(30, 31, 31);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(89, 89, 89);
  -webkit-box-shadow: inset 0 0 6px rgba(89, 89, 89);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255);
}

@media (max-width: 1300px) {
  .navbar ul a {
    padding: 6px 10px;
  }

  .navbar ul a:hover,
  .navbar ul a.active {
    background: white;
    color: BLACK;
    padding: 6px 20px;
  }
}

@media (max-width: 1100px) {
}

@media (max-width: 900px) {
  #menu-icon {
    display: block;
  }
  ul a {
    display: none;
  }

  .logo {
    padding-left: 0px;
  }
}

@media (min-width: 900px) {
  .phonenav {
    display: none;
  }
}

.banner {
  height: 50vh;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.textbanner {
  color: white;
  position: absolute;
  transform: translate(6em, -3em);
  font-family: "Kanit", sans-serif;
}

#abtustitle {
  font-size: 3em;
}

#btn {
  position: absolute;
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #2d292a;
  font-size: 1.5em;
  border: none;
  border-color: #f9f9f9;
  transform: translate(0px, 20px);
  transition: padding 0.2s, color 0.2s, transform 0.2s;
}

#btn:hover {
  padding: 8px 60px;
  transform: translate(0px, 20px);
  color: #858283;
}

#picamd {
  object-fit: cover;
  height: 50vh;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100vw;
}

#abtusinfo {
  font-family: "Kanit", sans-serif;
}

.heading {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}

.heading h1 {
  font-size: 50px;
  color: #000;
  margin-bottom: 25px;
  position: relative;
}

.heading h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: #2d292a;
}

.heading p {
  font-size: 18px;
  color: #666;
  margin-bottom: 33px;
  font-family: "Kanit", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
  margin-bottom: 5em;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about-image {
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
}

.about-image img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease;
}

.about-image:hover img {
  transform: scale(1.2);
}
.about-content {
  flex: 1;
}

.about-content h2 {
  font-size: 2em;
  margin-bottom: 15px;
  color: #333;
  font-family: "Kanit", sans-serif;
}

.about-content p {
  font-size: 1.5em;
  margin-bottom: 1.5px;
  color: #666;
  font-family: "Kanit", sans-serif;
}

@media screen and (max-width: 900px) {
  .heading {
    padding: 0px 20px;
  }
  .heading h1 {
    font-size: 36px;
  }
  .heading p {
    font-size: 17px;
    margin-bottom: 0px;
  }
  .container {
    padding: 0px;
  }
  .about {
    padding: 20px;
    flex-direction: column;
  }
  .about-image {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .about-content p {
    padding: 0px;
    font-size: 16px;
  }
}

.cpugpucounter {
  background-color: #0a0b0c;
  width: 100%;
  padding-bottom: 5%;
  padding-top: 5%;
}

.wrappercounter {
  position: relative;
  width: 80vw;
  transform: translate(-50%, 0);
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.containercounter {
  width: 28vmin;
  height: 28vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0;
  position: relative;
  font-size: 16px;
  border-radius: 0.5em;
  background-color: #21242b;
  border-bottom: 10px solid #f9f9f9;
}

i {
  color: #f9f9f9;
  font-size: 2.5em;
  text-align: center;
}

span.num {
  color: #f9f9f9;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}

span.text {
  color: #e0e0e0;
  font-size: 1em;
  text-align: center;
  pad: 0.7em 0;
  font-weight: 400;
  line-height: 0;
}

@media screen and (max-width: 1024px) {
  .wrappercounter {
    width: 85vw;
  }
  .containercounter {
    height: 26vmin;
    width: 26vmin;
    font-size: 12px;
  }
  .textbanner {
    transform: translate(4em, -3em);
  }
}

@media screen and (max-width: 900px) {
  .wrappercounter {
    width: 90vw;
    flex-wrap: wrap;
    gap: 30px;
  }
  .containercounter {
    width: calc(50% - 40px);
    height: 50vmin;
    font-size: 15px;
  }
  .textbanner {
    transform: translate(3em, -3em);
    font-size: small;
  }
}

@media screen and (max-width: 480px) {
  .wrappercounter {
    gap: 15px;
  }
  .containercounter {
    width: 100%;
    height: 50vmin;
    font-size: 10px;
  }

  .textbanner {
    transform: translate(1em, -3em);
    font-size: smaller;
  }
}
