* {
    padding: 0px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #1d1d1f;
}

body {
    margin: 0;
    background-color: #f5f5f7;
}

.cpu_comparison_2 {
    display: flex;
    justify-content: center;
}

.main_content {
    width: 100%;
    max-width: 70rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.head_container {
    width: 100%;
    max-width: 70rem;
    background-color: #fff;
    border-radius: 0px 0px 3.75rem 3.75rem;
    height: 100%;
    min-height: 17rem;
    display: flex;
    justify-content: center;
}

.product_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 0.5rem;
    padding-top: 2.5rem;
    max-height: 12rem;
    height: 100%;
    width: 100%;
    max-width: 60rem;
}

.product {
    position: relative;
    width: 100%;
    max-width: 16rem;
    height: 100%;
    max-height: 4rem;
}

.dropdown-button {
    width: 100%;
    height: 100%;
    background-color: #f1f1f2;
    border-color: transparent;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    border-radius: 1.25rem;
    cursor: pointer;
}

.search-box {
    width: 100%;
    max-width: 16rem;
    height: 100%;
    max-height: 5rem;
    margin-top: -4rem;
    position: inherit;
    font-size: 1.5rem;
    color: #7e828b;
    background-color: #e4e4e4;
    border: 0px;
    border-radius: 1.25rem;
    display: none;
    text-align: center;
    outline: none;
    z-index: 99;
}

@keyframes dropdownAnimation {
    0% {
        max-height: 0;
        opacity: 0;
    }

    100% {
        max-height: 12rem;
        opacity: 1;
    }
}

.dropdown-content {
    display: none;
    background-color: #f1f1f2;
    width: 100%;
    max-width: 16rem;
    border-radius: 1.25rem;
    position: absolute;
    background-color: transparent;
    list-style: none;
    overflow-y: auto;
    max-height: 12rem;
    margin-top: 0.5rem;
    z-index: 2;
    animation: dropdownAnimation 0.3s ease-in-out forwards;
}

.dropdown-content::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.dropdown-item {
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    height: 3rem;
    width: 100%;
    max-width: 16rem;
    background-color: #f1f1f2;
    transition: background-color 0.3s;
    padding-top: 1rem;
    text-align: left;
    padding-left: 3.5rem;
}

.dropdown-item:hover {
    background-color: #e4e4e4;
}

.detail_image {
    width: 100%;
    max-width: 12rem;
    height: 100%;
    max-height: 12rem;
    display: flex;
    justify-content: center;
}

.detail_image img {
    width: 100%;
    max-width: 12rem;
    height: 100%;
    border-radius: 1.25rem;
}

.sub_container {
    padding-top: 2rem;
}

.detail_container {
    height: 34rem;
    max-height: 34rem;
    background-color: #fff;
    border-radius: 1.875rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 28rem;
    box-shadow: 4px 4px 30px 4px #f1f1f1;
}

.detail_container .hidden {
    display: none;
    
}

.top_selection {
    display: grid;
    grid-template-columns: 1fr 1.1fr 1fr 1fr;
    padding: 1rem;
    gap: 0.5rem;
}

.selected_option {
    font-size: 1.5rem;
    width: 100%;
    border-radius: 1.875rem;
    color: #fff;
    background-color: #555356;
    border: none;
    cursor: pointer;
}

.nonselected_option {
    font-size: 1.5rem;
    width: 100%;
    border-radius: 1.875rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.nonselected_option:hover {
    background-color: #f5f6f8;
}

.cpu_detail_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,4.5rem);
    justify-items: center;
    width: 100%;
    height: 27rem;
    max-width: 68rem;
    padding: 1rem;
    padding-top: 0.5rem;
}

.cpu_detail {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    max-width: 55rem;
    max-height: 4.5rem;
    gap: 1rem;
    align-items: center;
    justify-items: center;
}

.cpu_detail_g {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
    width: 100%;
    max-width: 60rem;
    max-height: 4.5rem;
    gap: 1rem;
    align-items: center;
    justify-items: center;
}

.cpu_detail img {
    width: 100%;
    max-width: 1rem;
}
.cpu-title_g  {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 20em;
    height: 100%;
    max-height: 5em; 
}
.cpu-title_g img {
    padding-right: 1em;
    
    height: 100%; 
    max-height: 3em;
}

.cpu_detail_title {
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}
.cpu_detail_title_2 {
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}
.cpu_detail_title_2 {
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.cpu_detail_title img {
    width: 100%;
    max-width: 3em;
    padding-right: 1rem;
}

.img_3d_mark {
    width: 100%;
    max-width: 13em;
    padding-right: 1rem;
}

.cpu-title {
    text-align: center;
    font-size: 1.2rem;
}

i {
    font-size: 1.3rem;
    font-weight: bold;
}

.fa-computer {
    padding-right: 1rem;
}

@media (max-width: 1160px) {

    * {
        font-size: 12px;
    }

}

@media (max-width: 875px) {

    * {
        font-size: 8px;
    }

}

@media (max-width: 580px) {
    
    * {
        font-size: 6px;
    }

}