@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f9f9f9;
  overflow-x: hidden;
  margin: 0;
  width: 100%; 
  padding-top: 5em;

  
  
  
}







header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  
}  





.navbar {
  padding: 33px 0px;
  display: flex;
  justify-content: space-between;
  background: black;
  font-family: 'Poppins', sans-serif;
  height: 5em;
  align-items: center;
}


.logo {
    align-items: center;
    padding-left: 40px;
    overflow: hidden;
    width: 300px;
    height: 150px;
    position: absolute;
}

.logonodisplay {
    font-size: 1.5rem;
    margin: .5rem;
}

#menu-icon {
  color: white;
  font-size: 30px;
  z-index: 10000;
  margin-right: 1.5rem;
  cursor: pointer;
  display: none;
}


.navbar ul {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 2rem;
    
}

.navbar ul a {
   margin: 0 1rem;
   text-decoration: none;
   color: white;
   padding: 6px 15px;
   border-radius: 20px;
   font-weight: 600;
   transition: background 0.2s,
   color 0.2s,
   padding 0.2s;
}





#thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.01);
    
    



}

.navbar ul a:hover, 
.navbar ul a.active {
    background: white;
    color: BLACK;
    padding: 6px 30px;
    
}

.navbar ul {
    list-style: none;
    letter-spacing: 0.5px;
    
}

.phonenav  {
  background: black;
  margin-top: 0em;
  height: auto;
  position: absolute;
  width: 20em;
  
  right: -20em; /* Start off-screen */
  transition: right 0.3s ease;
  
}

.phonenav ul  {
  list-style: none;
  text-align: center;
  
}

.phonenav a {
  display: table;
  margin: 1em;
  right: 0;
  left: 0;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  font-size: 600;
  text-decoration: none;
  color: white;
  
   
}

.phonenav li {
  position: relative;
  overflow: hidden;
}

.phonenav li::before,
.phonenav li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: white;
  transition: transform 0.3s ease, width 0.3s ease;
  
}

.phonenav li::before {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.phonenav li::after {
  right: 50%;
  bottom: 0;
  transform: translateX(50%);
}

.phonenav li:hover::before,
.phonenav li:hover::after {
  width: 50%; /* Expand the border to both sides */
  transform: scaleX(1);
}


    
.parallax {
    position: relative;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    
    
    

    
}


.parallax img {
    position: absolute;
    height: 50vh;
    pointer-events: none;
    top: 0;
    left: 0;
    
    
    
    

    
}


#anilogo {
    margin: auto;
    transform: translate(0, 25%);
    
    
    
}







#text {
    font-size: 2.5em;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #f9f9f9;
    text-shadow: 2px 2px 4px rgba(0, 0, 0 .2);
    font-family: 'Kanit', sans-serif;
    

}

.gridfix {
  display: flex;
  
}

.sex {
    position: relative;
    background: #040707;
    padding-left: 3%;
    padding-right: 3%;
    height: auto;
    width: 100vw;
    display: table;
    padding-bottom: 3%;
    
   
    
    

}

.sex h2 {
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 10px;
    
    


}

.sex p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;

}

.text-inside {
    position: relative;
    width: 100%;
    transform: translate(0px, -50px);
    
    
    
    
}



.paraflex {
  display: flex;
  margin-left: 5%;
  position: absolute;
  justify-content: center;
  

}



.paratable {
  display: table;
 
}
    
    

#btn
{
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2d292a;
    font-size: 1.5em;
    border: none;
    border-color: #f9f9f9;
    margin-top: 1em;
    transform: translate(0px, 20px);
    transition: padding 0.2s,
    color 0.2s,
    transform 0.2s;
    
}


#btn:hover {
   
    padding: 8px 60px;
    transform: translate(0px, 20px);
    color: #858283;
}

.pic-inside {

    display: table
}

#p 
{
    font-size: 1em;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #f9f9f9;
    transform: translate(0px, 20px);
    word-wrap: break-word;
    width: 100vh;
    font-family: 'Kanit', sans-serif;
}





.media-scroller {
  --_spacer: var(--size-3);
  --spacer: 5rem;
  display: flex;
  gap: var(--_spacer);
  grid-auto-flow: column;
  grid-auto-columns: 30%;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  width: 100%;
  
  
  
  
 
  
}


.media-element {
  display: grid;
  grid-template-rows: min-content;
  gap: var(--_spacer);
  padding: var(--_spacer);
  background: var(--surface-2);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
  margin: 2rem 0rem;
  
  
 
  
  
}

.media-element img {
  inline-size: 100%;
  
  object-fit: cover;
}

.media-element p {
  padding-top: 5%;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);
}

.snaps-inline * {
  scroll-snap-align: start;
}


.container {
  inline-size: min(100% - 0rem, 70rem);
  margin-inline: auto;
}

.flow {
  display: grid;
  gap: var(--size-3);
}

.page-header {
  padding-block: var(--size-9);
  margin-block-end: var(--size-9);
  background: var(--gradient-16);
  color: var(--gray-0);
  box-shadow: var(--shadow-2);
}

.page-title {
  font-size: var(--font-size-fluid-3);
}

.page-subtitle {
  font-size: var(--font-size-fluid-1);
}

.rectitle { 
  display: flex;
  text-align: left;
}
.section-title {
  position: relative;
  width: 100%;
  height: auto;
  background: #040707;
  color: #f9f9f9;
  padding-left: 3%;
  padding-top: 2%;
  font-size: 3rem;

}


.scroll-tab {
  justify-content: right;
  margin-top: 1em;
  width: 90vw;
  height: 5em;
  display: flex;
  align-items: center;
  white-space: nowrap;
  
}

.snapped-element {
  width: 100%; 
  position: relative; 
}







.container .card {
  position: relative;
  width: 320px;
  height: 420px;
  background: #0b1313;
  border-radius: 20px;
  overflow: hidden;
}
    
.container .card:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #d5232f;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}
.container .card:hover:before
{
  clip-path: circle(300px at 80% -20%);
}

.container .card:after
{
  content: 'AMD';
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12em;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  color: rgba(255,255,255,0.04);
  transform: translate(-20%, 50%);


}

.container .card .imgBx {
  position: relative;
  top: 50%;
  transform: translate(-10%, -50%);
  z-index: 1000;
  width: 60%;
  height: 220px;
  transition: 0.5s;
 

  
}

.container .card:hover .imgBx {
  top: 0%;
  transform: translate(-20%, 0%);
  width: 75%;
 

  
}

.container .card .imgBx img
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%,-50%);
  width: 100%;
  
}

.container .card .contentBx
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBx
{
  
  height: 210px;
  
}

.container .card .contentBx h2
{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  
}

.container .card .contentBx .Price
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  color: #fff;
  transition: 0.5s;
}



.container .card .contentBx a
{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
}

.container .card:hover .contentBx a 
{
  opacity: 1;
  transform: translateY(0px);
  
  
  

}



















.containerNvidia .cardNvidia {
  position: relative;
  width: 320px;
  height: 420px;
  background: #0b1313;
  border-radius: 20px;
  overflow: hidden;
  
}
    
.containerNvidia .cardNvidia:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #76b900;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}
.containerNvidia .cardNvidia:hover:before
{
  clip-path: circle(300px at 80% -20%);
}

.containerNvidia .cardNvidia:after
{
  content: 'NVIDIA';
  position: absolute;
  top: 0;
  left: 0;
  font-size: 7em;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  color: rgba(255,255,255,0.04);
  transform: translate(-10%, 120%);


}

.containerNvidia .cardNvidia .imgBxNvidia {
  position: relative;
  top: 50%;
  transform: translate(-10%, -50%);
  z-index: 1000;
  width: 60%;
  height: 220px;
  transition: 0.5s;
 

  
}

.containerNvidia .cardNvidia:hover .imgBxNvidia {
  top: 0%;
  transform: translate(-20%, 0%);
  width: 75%;
 

  
}

.containerNvidia .cardNvidia .imgBxNvidia img
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%,-50%);
  width: 100%;
  
}

.containerNvidia .cardNvidia .contentBxNvidia
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.containerNvidia .cardNvidia:hover .contentBxNvidia
{
  
  height: 210px;
  
}

.containerNvidia .cardNvidia .contentBxNvidia h2
{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  
}

.containerNvidia .cardNvidia .contentBxNvidia .PriceNvidia
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  color: #fff;
  transition: 0.5s;
}



.containerNvidia .cardNvidia .contentBxNvidia a
{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
}

.containerNvidia .cardNvidia:hover .contentBxNvidia a 
{
  opacity: 1;
  transform: translateY(0px);
  
  
  

}







.containerIntel .cardIntel {
  position: relative;
  width: 320px;
  height: 420px;
  background: #0b1313;
  border-radius: 20px;
  overflow: hidden;
  
}
    
.containerIntel .cardIntel:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #87d1f7;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}
.containerIntel .cardIntel:hover:before
{
  clip-path: circle(300px at 80% -20%);
}

.containerIntel .cardIntel:after
{
  content: 'INTEL';
  position: absolute;
  top: 0;
  left: 0;
  font-size: 8em;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  color: rgba(255,255,255,0.04);
  transform: translate(-5%, 100%);


}

.containerIntel .cardIntel .imgBxIntel {
  position: relative;
  top: 50%;
  transform: translate(-10%, -50%);
  z-index: 1000;
  width: 60%;
  height: 220px;
  transition: 0.5s;
 

  
}

.containerIntel .cardIntel:hover .imgBxIntel {
  top: 0%;
  transform: translate(-20%, 0%);
  width: 75%;
 

  
}

.containerIntel .cardIntel .imgBxIntel img
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%,-50%);
  width: 100%;
  
}

.containerIntel .cardIntel .contentBxIntel
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.containerIntel .cardIntel:hover .contentBxIntel
{
  
  height: 210px;
  
}

.containerIntel .cardIntel .contentBxIntel h2
{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  
}

.containerIntel .cardIntel .contentBxIntel .PriceIntel
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  color: #fff;
  transition: 0.5s;
}



.containerIntel .cardIntel .contentBxIntel a
{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
}

.containerIntel .cardIntel:hover .contentBxIntel a 
{
  opacity: 1;
  transform: translateY(0px);
}

::-webkit-scrollbar {
  width: 5px;
  background: rgba(30, 31, 31);
 
}


::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
  
}


::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(89, 89, 89); 
  -webkit-box-shadow: inset 0 0 6px rgba(89, 89, 89); 
  
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,255,255); 
 
}





@media (max-width: 1300px) {
  
  .navbar ul a {
    padding: 6px 10px;
    }

  .navbar ul a:hover, 
  .navbar ul a.active {
    background: white;
    color: BLACK;
    padding: 6px 20px;
  }   

  #text {
    font-size: 2em;
  }

  #p 
  {
    font-size: 0.7em;
    
  }
  #btn
{

    padding: 5px 25px;
    font-size: 1.2em;
    transform: translate(0px, 20px);
    transition: padding 0.2s,
    color 0.2s,
    transform 0.2s;
}


#btn:hover {
   
    padding: 5px 40px;
    transform: translate(0px, 20px);
    color: #858283;
}


}

@media (max-width: 900px) {
  #menu-icon {
    display: block;
  } 
  ul a {
    display: none;
  }
  #text {
    font-size: 1.5em;
  }

  
  .media-scroller {
   display: table;
   width: 100%;
   justify-content: center;
  
   
   
   
   
   
  }
  .media-element {
   display: table;
   transform: scale(0.8);
   
   
   
  }
  
  #p {
    width: 110%;
    
  }
  
  .sex {
    padding: 3%;
    justify-content: center;
    display: flex;

    
    
    
    
  }
  .sex h2 {
    text-align: center;
  }

  .gridfix {
    display: flex;
    justify-content: center;
    
   
  }
  #btn
  {
  
      padding: 5px 25px;
      font-size: 1.2em;
      transform: translate(0px, 20px);
      transition: padding 0.2s,
      color 0.2s,
      transform 0.2s;
  }
  
  
  #btn:hover {
     
      padding: 5px 40px;
      transform: translate(0px, 20à¸ƒpx);
      color: #858283;
  }
  
  .rectitle { 
    text-align: center;
  }

  .logo {
    
    padding-left: 0px;
    
  }
   

  }

@media (min-width: 900px) {
  .phonenav {
    display: none;
  }

  .media-scroller {
    display: grid;
   }
   .media-element {
    display: grid;
   }

 

   
   
}


@media (max-width: 1700px) {
  .media-scroller {
  
    width: 94%;
    }
}

@media (max-width: 1550px) {
  .media-scroller {
  
    width: 85.5%;
    }
    

}

@media (max-width: 1400px) {
  .media-scroller {
  
    width: 75%;
    }
}

@media (max-width: 1250px) {
  .media-scroller {
  
    width: 62%;
    
    }
  .media-element {
    transform: scale(0.8);
    margin: -1rem 0rem;
  }
  
}

@media (max-width: 214px) {
  #btn {
    margin-top: 2em;
  }
  
}

@media (max-width: 330px) {
  #btn {
    margin-top: 2em;
    
  }
  .section-title {
    
    font-size: 2.5rem;
  
  }
  
}

@media (max-width: 270px) {

  .section-title {
    
    font-size: 2rem;
  
  }
  
}



